C:\data\ev_2021\idegseb\ugyelet\GenerateJavaScriptUsingMATLABCoder\*
sripts/shiftSolution.txt
sripts/rem_mat_spec_functions/shiftSolution.txt
sripts/rem_mat_spec_functions/mShiftConstraint.mat
sripts/masodik_sor.asv
sripts/masodik_sor.m
sripts/shiftSolution_1.txt
sripts/spm_2022Jun16.ps
